<form action="<%= http_action %>" method="POST" onsubmit="removeTemplateElements()">
  <%== form_method(@recipe) %>
  <div class="row">
    <div class="col-auto form-group">
      <label for="recipe[section]">Section:</label>
      <select class="custom-select" name="recipe[section]" <%= @recipe.id && 'disabled' %>>
      <% @sections.each do |section| %>
        <option
          value="<%= section %>"
          style="text-transform: capitalize"
          <%= @recipe.section == section && 'selected' %>
        >
          <%= section.tr('-', ' ') %>
        </option>
      <% end %>
      </select>
    </div>
    <div class="col form-group">
      <%== draw(Components::FormControlComponent,
                label:    'Name:',
                name:     'recipe[name]',
                value:    @recipe.name,
                errors:   @errors[:name],
                readonly: !!@recipe.id) %>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <%== draw(Components::FormControlComponent,
                label:  'Servings:',
                name:   'recipe[servings]',
                value:  @recipe.servings,
                errors: @errors[:servings]) %>
    </div>
    <div class="col form-group">
      <%== draw(Components::FormControlComponent,
                label:  'Prep time:',
                name:   'recipe[preptime]',
                value:  @recipe.preptime,
                errors: @errors[:preptime]) %>
    </div>
    <div class="col form-group">
      <%== draw(Components::FormControlComponent,
                label:  'Cook time:',
                name:   'recipe[cooktime]',
                value:  @recipe.cooktime,
                errors: @errors[:cooktime]) %>
    </div>
  </div>
  <div id="equipment">
    <%== draw(Components::RecipeForm::EquipmentListComponent,
              recipe_equipment_list: @recipe.equipment,
              errors:                @errors[:equipment]) %>
    <button
      type="button"
      class="btn btn-outline-secondary mb-3"
      onclick="addElementToList('equipment-list', 'equipment-template'); scrollIntoView(false)"
    >
      Add Equipment
    </button>
  </div>
  <div id="ingredients">
    <%== draw(Components::RecipeForm::IngredientListComponent,
              recipe_ingredient_list: @recipe.ingredients,
              errors:                 @errors[:ingredients]) %>
    <button
      type="button"
      class="btn btn-outline-secondary mb-3"
      onclick="addElementToList('ingredient-list', 'ingredient-template'); scrollIntoView(false)"
    >
      Add an Ingredient
    </button>
  </div>
  <div id="directions">
    <%== draw(Components::RecipeForm::DirectionListComponent,
              recipe_direction_list: @recipe.directions,
              errors:                @errors[:directions]) %>
    <button
      type="button"
      class="btn btn-outline-secondary"
      onclick="addElementToList('direction-list', 'direction-template'); scrollIntoView(false)"
    >
      Add a Step
    </button>
  </div>
  <% @recipe.tags.each do |tag| %>
  <input type="hidden" name="recipe[tags][]" value="<%= tag %>" />
  <% end %>
  <hr>
  <a href="<%= cancel_path %>" class="btn btn-outline-secondary">
    Cancel
  </a>
  <button type="submit" class="btn btn-primary float-right">
    <%= @recipe.id ? 'Save Changes' : 'Create Recipe' %>
  </button>
</form>
<script>
  function addElementToList(listSelector, templateSelector) {
    const list    = document.getElementById(listSelector);
    const element = document.getElementById(templateSelector).firstElementChild.cloneNode(true);

    list.appendChild(element);
  }
  function removeTemplateElements() {
    // Remove template elements to exclude from form submission.
    document.getElementById('equipment-template').remove();
    document.getElementById('ingredient-template').remove();
    document.getElementById('direction-template').remove();
  }
</script>
