<form action="<%= recipe.id ? "/recipes/#{recipe.id}" : '/recipes' %>" method="POST">
  <input type="hidden" name="_method" value="<%= recipe.id ? 'PATCH' : 'POST' %>" />
  <div class="row">
    <div class="col-auto form-group">
      <label for="recipe[section]">Section:</label>
      <select class="custom-select" name="recipe[section]" <%= recipe.id && 'disabled' %>>
      <% sections.each do |section| %>
        <option value="<%= section %>" <%= recipe.section == section && 'selected' %> style="text-transform: capitalize">
          <%= section.tr('-', ' ') %>
        </option>
      <% end %>
      </select>
    </div>
    <div class="col form-group">
      <label for="recipe[name]">Name:</label>
      <input type="text" class="form-control" name="recipe[name]" value="<%= recipe.name %>" <%= recipe.id && 'readonly' %> />
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label for="recipe[servings]">Servings:</label>
      <input type="text" class="form-control" name="recipe[servings]" value="<%= recipe.servings %>" />
    </div>
    <div class="col form-group">
      <label for="recipe[preptime]">Prep time:</label>
      <input type="text" class="form-control" name="recipe[preptime]" value="<%= recipe.preptime %>" />
    </div>
    <div class="col form-group">
      <label for="recipe[cooktime]">Cook time:</label>
      <input type="text" class="form-control" name="recipe[cooktime]" value="<%= recipe.cooktime %>" />
    </div>
  </div>
  <div id="equipment">
    <label class="h3">Equipment:</label>
    <% recipe.equipment&.each do |equipment| %>
    <%== erb :'recipe/_form/equipment', locals: { equipment: equipment }%>
    <% end %>
  </div>
  <button type="button" class="btn btn-outline-secondary mb-3" onclick="addElementToList('equipment', 'equipment-template'); scrollIntoView(false)">
    Add Equipment
  </button>
  <div id="ingredients">
    <label class="h3">Ingredients:</label>
    <% recipe.ingredients&.each do |ingredient| %>
    <%== erb :'recipe/_form/ingredient', locals: { ingredient: ingredient }%>
    <% end %>
  </div>
  <button type="button" class="btn btn-outline-secondary mb-3" onclick="addElementToList('ingredients', 'ingredient-template'); scrollIntoView(false)">
    Add an Ingredient
  </button>
  <div id="directions">
    <label class="h3">Directions:</label>
    <% recipe.directions&.each do |direction| %>
    <%== erb :'recipe/_form/direction', locals: { direction: direction }%>
    <% end %>
  </div>
  <button type="button" class="btn btn-outline-secondary" onclick="addElementToList('directions', 'direction-template'); scrollIntoView(false)">
    Add a Step
  </button>
  <% recipe.tags.each do |tag| %>
  <input type="hidden" name="recipe[tags][]" value="<%= tag %>" />
  <% end %>
  <hr>
  <a href="<%= recipe.id ? "/recipes/#{recipe.id}" : '/recipes' %>" class="btn btn-outline-secondary">
    Cancel
  </a>
  <button type="submit" class="btn btn-primary float-right">
    <%= recipe.id ? 'Save Changes' : 'Create Recipe' %>
  </button>
</form>
<script>
  function addElementToList(listSelector, templateSelector) {
    const list    = document.getElementById(listSelector);
    const element = document.getElementById(templateSelector).firstElementChild.cloneNode(true);

    list.appendChild(element);
  }
</script>
<div id="equipment-template" style="display: none">
  <%== erb :'recipe/_form/equipment', locals:  { equipment:  Models::RecipeEquipment.empty }  %>
</div>
<div id="ingredient-template" style="display: none">
  <%== erb :'recipe/_form/ingredient', locals: { ingredient: Models::RecipeIngredient.empty } %>
</div>
<div id="direction-template" style="display: none">
  <%== erb :'recipe/_form/direction', locals:  { direction:  Models::RecipeDirection.empty }  %>
</div>
